.panel{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}
.wrapper{
    padding-top: 20px;
    padding-left: 20px;
    position: relative;
    height: 100px;
    width: 100%;
    top: 0;
    left: 0;
    color: var(--color-text-primary);
    cursor: pointer;
}
.ask1Price{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--color-red);
    color: var(--color-red)
}
.bid1Price{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--color-blue);
    color: var(--color-blue)
}
.priceInfo{
    margin-top: 10px;
    display: flex;
    gap: 10px;
}
