.header{
    height: 10%;
    display: flex;
    align-items: center;
    width: 100%;
    background: var(--color-bg-panel);
    color: var(--color-text-primary);
}
.buttons{
    display: flex;
    margin-right: 30px;
    gap: 10px;
}
.btn{
    border: 2px solid oklch(44.6% 0.03 256.802);
    color: oklch(44.6% 0.03 256.802);
    cursor: pointer;
}
.btn:hover{
    color: oklch(78.087% 0.04354 258.405);
    border: 2px solid oklch(78.087% 0.04354 258.405);
}
.active{
    border: 2px solid oklch(48.8% 0.243 264.376);
    color: oklch(48.8% 0.243 264.376);
}