.header{
    padding: 20px;
    width: 100%;
    background: var(--color-bg-panel);
    color: var(--color-text-primary);
}
.buttons{
    display: flex;
    gap: 10px;
}
.btn{
    padding: 5px;
    background-color: transparent;
    border: none;
    border: 2px solid transparent;
     border-radius: 4px;
    color: var(--color-text-primary);
    font-size: 18px;
    transition: 0.3s ease-out;
    cursor: pointer;
}
.btn:hover{
    background-color: var(--color-grid);
}

.active{
    border: 2px solid var(--color-grid);
}